body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;

  margin: 0;
  color: white;
}
.profile-card {
  background: linear-gradient(to top, #2e8b57, #3cb371);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 600px;
  display: flex;
  gap: 30px;
}

@media (max-width: 480px) {
  body {
    height: 140vh;
  }
  .profile-card {
    display: flex;
    flex-direction: column;
  }
  .profile-card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

.imageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profile-card img {
  max-width: 100%;
  height: auto;

  /* width: 100px;
  height: 100px; */
  /* border-radius: 50%; */
  /* object-fit: cover; */
}
.profile-card h1 {
  font-size: 1.5em;
  margin: 10px 0 5px;
  color: white;
}
.profile-card h2 {
  font-size: 1.2em;
  color: #555;
  margin: 5px 0;
  color: #00ff00;
}
.profile-card p {
  font-size: 1em;
  color: #333;
  margin: 5px 0;
  color: white;
  font-style: italic;
}

.profile-card p i {
  color: #00ff00;
  padding-right: 4px;
}
.profile-card a {
  display: inline-block;
  margin: 5px 10px;
  text-decoration: none;
  color: #7fff00;
}

.profile-card button {
  background: #00ff00;
  color: green;
  padding: 7px 15px;
  border-radius: 20px;
}

.profile-card a:hover {
  text-decoration: underline;
}

.imageDiv {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
